{% extends 'base.html.twig' %}
{% block body %}
    <div class="table">
    {% set counter = 0 %}
        <h4 class="caption">Список книг, автор - {{ author.name }} {{ author.surname }}</h4>
        <hr>
        <a href="/addbook/{{ author_id }}">
            <button class="btn-success">Добавить книгу</button></a>
        <table class="data">
            <tbody>
                <tr>
                    <td class="val-2">
                        <h4>№</h4>
                    </td>
                    <td class="val-2">
                        <h4>Книга</h4>
                    </td>
                    <td class="val-2">
                        <h4>Дата книги</h4>
                    </td>
                    <td class="val-2">
                        <h4>Редактировать</h4>
                    </td>
                    <td class="val-2">
                        <h4>Удалить</h4>
                    </td>
                </tr>
                {% for val in books %}
                <tr>
                    {% set counter = counter + 1 %}
                    <td class="val">{{ counter }}
                    </td>
                    <td class="val">{{ val.bookName }}
                    </td>
                    <td class="val">{{ val.bookDate }}
                    </td>
                    <td class="val"><a href='/change_book?book_id={{ val.id }}'>Редактировать</a>
                    </td>
                    <td class="val-2"><a href='/delete_book?book_id={{ val.id }}'>Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}